<footer class="footer pt-6 pb-5 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>BeSimple - Анархия и ничего лишнего. Стабильный сервер без вайпов и приватов.</p>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Страницы</span>
                <ul class="footer-links mt-2">
                    <li><a target="_blank" href="https://docs.besimple.fun/informaciya/pravila-servera">Правила</a></li>
                    <li><a target="_blank" href="https://docs.besimple.fun/informaciya/kak-igrat">Начать играть</a></li>
                    <li><a target="_blank" href="/#buy">Получить доступ</a></li>
                    <li><a target="_blank" href="https://themesberg.com/contact">Связь с нами</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-secondary my-3 my-lg-5">
        <div class="row">
            <div class="col mb-md-0">
                <a href="https://themesberg.com" target="_blank" class="d-flex justify-content-center mb-3">
                    <p class="text-white fw-bold footer-logo-text m-0">BeSimple</p>
                </a>
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">Copyright © BeSimple 2021-<span
                            class="current-year">2021</span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>